<!DOCTYPE html>
<html>
  <head>
    <title>Tacostagram Final</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/assets/application.css">
    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>

  <body>
    <% if flash["notice"] %>
      <div class="flash-notice">
        <%= flash["notice"] %>
      </div>
    <% end %>

    <nav class="nav-container">
      <div class="nav-left">
        <a href="/">Home</a>
      </div>
      <div class="nav-right">
        <% if @current_user %>
          <a href="/logout" class="btn">Logout</a>
        <% else %>
          <a href="/login" class="btn">Login</a>
          <a href="/users/new" class="btn">Signup</a>
        <% end %>
      </div>
    </nav>

    <% if @current_user %>
      <h2 class="welcome-msg">Welcome, <%= @current_user.username %></h2>
    <% end %>

    <%= yield %>
  </body>
</html>
